<div class="app-shell">
  <div class="app-container">
    <div></div>
    <div>
      <div class="step" [class.hidden]="stepID !== 'EQUATIONS'">
        <div class="stepHeader">
          <span>Step 1</span>
          <span>Enter equations needed to be solved</span>
        </div>
        <div class="stepForm">
          <textarea
            class="form-control"
            placeholder="Equations separated by line break"
            rows="5"
            wrap="off"
            [(ngModel)]="equations"
          ></textarea>
        </div>
        <button
          class="btn primary"
          [attr.disabled]="!validateEquations() ? true : null"
          (click)="parseEquations()"
        >
          Next
        </button>
      </div>
      <div class="step" [class.hidden]="stepID !== 'METHOD'">
        <div class="stepHeader">
          <span>Step 2</span>
          <span>Choose one of the solving methods</span>
        </div>
        <div class="cardSelectContainer">
          <button>
            Gauss Elimination
          </button>
          <button>
            Gauss Jordan
          </button>
          <button>
            LU Decomposition
          </button>
          <button>
            Gauss Seidil
          </button>
          <button>
            Jacobi Iteration
          </button>
        </div>
      </div>
      <div class="step" [class.hidden]="stepID !== 'PRECISION'">
        <div class="stepHeader">
          <span>Step 3</span>
          <span>Tune the precision of calculations</span>
        </div>
        <div class="precisionAdjuster">
          <span>{{ precision }}</span>
          <input
            type="range"
            min="1"
            max="100"
            step="1"
            [(ngModel)]="precision"
          />
        </div>
        <button class="btn primary">Next</button>
      </div>
      <div class="step" [class.hidden]="stepID !== 'LU_PARAM'">
        <div class="stepHeader">
          <span>Step 4</span>
          <span>Adjust paramaters of the method</span>
        </div>
        <div class="stepForm">
          <textarea
            class="form-control"
            placeholder="Equations separated by line break"
            rows="5"
            wrap="off"
            [(ngModel)]="luVariant"
          ></textarea>
        </div>
        <button class="btn primary">Next</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
